## <center> Part 2 </center>

## Basic functions (min, max, len, sum)

We have saved the salary information of one small company in the list.

In [1]:
salaries_in_usd = [65000, 40000, 100000, 34000, 78500, 1000000, 56700, 340000]

What is the minimum salary?

In [2]:
min(salaries_in_usd)

34000

What is the highest salary?

In [3]:
max(salaries_in_usd)

1000000

In [4]:
# sum up all salaries
sum(salaries_in_usd)

1714200

In [5]:
# max using lexicographical order
max('all', 'band', 'calculus', 'dandy')

'dandy'

In [6]:
# still lexicographical order
min('all', 'band', 'calculus', 'dandy')

'all'

In [7]:
# list (or set or tuple) length in number of elements
len(salaries_in_usd)

8

In [8]:
# string length in number of symbols in it
len("It's too boring to count all the characters in this string manually.")

68

## Range and enumarate

Range( ) is a function, what iterates over a sequence of numbers. It generates arithmetics progressions.

In [9]:
# range(end)

for i in range(10):
    print(i, end='  ')
    
print('\nvs', end='\n')

# range(end)

for i in range(1, 10):
    print(i, end='  ')

print('\nvs', end='\n')
    
# range(start, end, step)

for i in range(0, 10, 2):
    print(i, end='  ')

0  1  2  3  4  5  6  7  8  9
vs
1  2  3  4  5  6  7  8  9
vs
0  2  4  6  8

Usually the length of the object is used to iterate over all its elements:

In [10]:
countries = ['Austria', 'Italy', 'Spain', 'USA']

for index in range(len(countries)):
    print(countries[index])

Austria
Italy
Spain
USA

Enumerate(irterable, start=0) is a function, that returns an enumerate object. Iterable must be a sequence, an iterator, or some other object which supports iteration. This is useful if you want to return both the indices and the elements while iterating over the object.

In [11]:
for index, country in enumerate(countries):
    print(index, country)

0 Austria
1 Italy
2 Spain
3 USA

## Functions map, zip, filter

**Map( )** returns a map object (an iterator) of the results after applying the given function to each item of a given iterable (list, tuple etc.)

In [12]:
# map(function, iterable)

def multiply(n): 
    return n * n 

result = map(multiply, [1, 2, 3, 4, 5]) # map object
print(result)

print(list(result))

<map object at 0x7fcf4018e4a8>
[1, 4, 9, 16, 25]

**Zip** works like a zip jackets :)

In [13]:
countries = ['Austria', 'Italy', 'Spain', 'USA']
population_in_millions = [8.9, 60.4, 47, 328.2]

result = zip(countries, population_in_millions) # zip object
print(result)

<zip object at 0x7fcf401cf5c8>

We can print the result in a list of tuples:

In [14]:
list(result)

[('Austria', 8.9), ('Italy', 60.4), ('Spain', 47), ('USA', 328.2)]

Or in a dictionary:

In [15]:
result = zip(countries, population_in_millions)
dict(result)

{'Austria': 8.9, 'Italy': 60.4, 'Spain': 47, 'USA': 328.2}

We can save it using variable and use it somehow.

In [16]:
result = dict(zip(countries, population_in_millions))
result

{'Austria': 8.9, 'Italy': 60.4, 'Spain': 47, 'USA': 328.2}

In [17]:
result['Spain']

47

Filter( ) method filters the given sequence with the help of a function. It tests each element in the sequence to be True or False (whether it satisfies the condition or not).

In [18]:
men = ['Donald Trump, USA', 'Pablo Escobar, Colombia', 'Bill Clinton, USA', 
       'Nicolas Maduro, Venezuela', 'Barack Obama, USA']

def get_usa_president(candidate):
        if 'USA' in candidate: # if - else construction 
            return True
        else:
            return False

filtered = filter(get_usa_president, men) 
  
print('Presidents of the United States of America:') 
for i in filtered: 
    print(i)

Presidents of the United States of America:
Donald Trump, USA
Bill Clinton, USA
Barack Obama, USA

By the way, recall the if - else construction:

In [19]:
number = 100

if (number < 1000 and number > 10):
    print('Filter 1 is passed')
else:
    print('Filter 2 is passed')

Filter 1 is passed

In [20]:
if number < 10:
    print('Filter 1 is passed')
elif number < 50:
    print('Filter 2 is passed')
else:
    print('Filter 3 is passed')

Filter 3 is passed

## Lambda function

Lambda function allows you to write a function in one line instead of using **def**, for example.

In [21]:
def power(x, y):
    return x ** y

power(2, 5)

32

is the same as

In [22]:
power = lambda x, y: x ** y

power(2, 5)

32

Now, some brainteasers for you with ```lambda``` applications:

In [23]:
list(filter(lambda x: x if x == 'Russia' else False, ['Austria', 'Spain', 'Italy', 'USA', 'Russia']))

['Russia']

In [24]:
nums = [0, 1, 2, 3, 4, 5]
list(map(lambda num: num ** 2, nums))

[0, 1, 4, 9, 16, 25]

## Loops for and while

https://www.w3schools.com/python/python_while_loops.asp

In [25]:
starts_with_s = []

countries = ['Spain', 'Germany', 'South Korea', 'Russia', 'Switzerland', 'Yemen']

for i in countries:
    print('Current country:', i)
    if i.startswith('S'):
        print(True)
        starts_with_s.append(i)
    else:
        print(False)

Current country: Spain
True
Current country: Germany
False
Current country: South Korea
True
Current country: Russia
False
Current country: Switzerland
True
Current country: Yemen
False

In [26]:
starts_with_s

['Spain', 'South Korea', 'Switzerland']

**While** works as long as a condition is True:

In [27]:
strange_line = 'it could be a string of letters but suddenly we get 500$'

index = 0
while strange_line[index].isalpha() or strange_line[index] == ' ':
    index += 1

In [28]:
strange_line[index]

'5'

## Time executaion monitoring

https://tqdm.github.io/

**tqdm** is a library for displaying a progress bar while executing code.

In [29]:
from tqdm import tqdm

In [30]:
sequence = []
for number in tqdm(range(50000000)):
    sequence.append(number)

100%|██████████| 50000000/50000000 [00:13<00:00, 3791215.11it/s]

In [32]:
sequence[-5:]

[49999995, 49999996, 49999997, 49999998, 49999999]

## Type of errors and ways to manage them

Last but not least, you will often get errors in Python, so please have a look at their classification and what they mean: 

1. https://docs.python.org/3/tutorial/errors.html 
2. https://www.tutorialsteacher.com/python/error-types-in-python